VAULT_ROOT_TOKEN=""
VAULT_UNSEAL_TOKEN=""
K8S_CLUSTER_DOMAIN="secret-domain.com"

TRAEFIK_FORWARD_AUTH_CLIENTID="test"
TRAEFIK_FORWARD_AUTH_CLIENTSECRET="test"
TRAEFIK_FORWARD_AUTH_WHITELISTEMAILS="test"
